<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digitalhousefood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalHouseFood">
        <activity android:name=".View.activity.MenuActivity"></activity>
        <activity android:name=".View.activity.GridActivity" />
        <activity android:name=".View.activity.CardActivity" />
        <activity android:name=".View.activity.GridLayoutActivity" />
        <activity
            android:name=".View.activity.RegisterActivity"
            android:parentActivityName=".View.activity.LoginActivity" />
        <activity android:name=".View.activity.LoginActivity" />
        <activity android:name=".View.activity.MainActivity" />
        <activity
            android:name=".View.activity.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>